services:
  strapi:
    container_name: strapi
    build: 
      dockerfile: StrapiDockerfile
    image: strapi:latest
    env_file: .env
    environment:
      DATABASE_CLIENT: ${DATABASE_CLIENT}
      DATABASE_HOST: strapiDB
      DATABASE_PORT: ${DATABASE_PORT}
      DATABASE_NAME: ${DATABASE_NAME}
      DATABASE_USERNAME: ${DATABASE_USERNAME}
      DATABASE_PASSWORD: ${DATABASE_PASSWORD}
      JWT_SECRET: ${JWT_SECRET}
      ADMIN_JWT_SECRET: ${ADMIN_JWT_SECRET}
      APP_KEYS: ${APP_KEYS}
      NODE_ENV: ${NODE_ENV}
    volumes:
      - ./strapi/config:/opt/app/config
      - ./strapi/src:/opt/app/src
      - ./strapi/package.json:/opt/package.json
      - ./strapi/yarn.lock:/opt/yarn.lock
      - ./.env:/opt/app/.env
      - ./strapi/public/uploads:/opt/app/public/uploads
    ports:
      - "1337:1337"
    networks:
      - strapi
    depends_on:
      - strapiDB

  strapiDB:
    container_name: strapiDB
    platform: linux/amd64 #for platform error on Apple M1 chips
    env_file: .env
    image: postgres:18-alpine
    environment:
      POSTGRES_USER: ${DATABASE_USERNAME}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: ${DATABASE_NAME}
    volumes:
      - strapi-data:/var/lib/postgresql/data/ #using a volume
      #- ./data:/var/lib/postgresql/data/ # if you want to use a bind folder

    ports:
      - "5432:5432"
    networks:
      - strapi

  next:
    container_name: next
    command: sleep infinity
    build: 
      dockerfile: NextDockerfile
    image: next:latest
    volumes:
      - ./next:/opt/app
      - next-out:/workspace/out
    ports:
      - "3000:3000"
    networks:
      - strapi
    depends_on:
      - strapi

  nginx:
    container_name: nginx
    command: sleep infinity
    image: nginx:1.29
    volumes:
      - next-out:/usr/share/nginx/html
    ports:
      - "8080:80"
    networks:
      - strapi
    depends_on:
      - next

volumes:
  strapi-data:
  next-out:

networks:
  strapi:
    name: strapi
    driver: bridge
